.ant-form-item {
    .ant-form-item-control-input-content {
        display: flex;
        align-items: center;

        .ant-input-group-wrapper {

            // 选择框
            &.after {
                border: 1px solid rgb(217, 217, 217);
                position: relative;

                &:hover,
                &:active,
                &:focus {
                    border: 1px solid #58edaa;
                }

                .ant-input-wrapper {
                    height: 100%;

                    .ant-input {
                        height: 100%;
                        padding-left: 25px;
                        border: none;
                    }

                    .ant-input-group-addon {
                        padding: 2px 30px 2px 0px;
                        border: 0;
                        background-color: transparent;
                        // padding-right: 30px;
                    }
                }

                &.rounded-60 {
                    .ant-input {
                        border-radius: 60px;
                    }
                }

                &-text {
                    .ant-input-wrapper {
                        .ant-input-group-addon {
                            transform: translateY(0);
                        }
                    }
                }


                &-icon {
                    .ant-input-wrapper {
                        .ant-input-group-addon {
                            transform: translateY(5px);
                        }
                    }
                }
            }

        }
    }

    &.ant-form-item-with-help {
        .ant-form-item-explain {
            font-size: 14px;
            padding-left: 21px;
        }
    }

    &.ant-form-item-has-error {
        :not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
            border-color: inherit;
            box-shadow: none;
            outline: none;
        }
    }
}